services:
  - type: web
    name: vetconnect-favet-backend
    runtime: node
    repo: https://github.com/AuraDigitalDevChile/vetconnect-favet-backend
    branch: master
    rootDir: .
    buildCommand: npm ci && npx prisma generate && npm run build
    startCommand: node dist/server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: PORT
        value: 10000
    healthCheckPath: /health
    autoDeploy: true
